html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
}   

#map {
  width: 100%;
  height: 100%;
}

.fa, .fas, .fab {
  line-height: unset;
}

[contenteditable]:hover {
  text-decoration: underline;
}

[contenteditable]:hover + .fas {
  visibility: visible;
}

[contenteditable] + .fas {
  visibility: hidden;
}

[contenteditable] {
  min-inline-size: 4em;
}
